<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uczelniany System Obiegu Dokumentów</title>
    <!-- Dodanie Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header class="bg-primary text-white text-center py-4">
    <div class="container">
        <a class="btn btn-primary float-end" id="login" href="/auth/login" role="button">Logowanie</a>
        <a class="btn btn-primary float-end" id="logout" role="button">Wyloguj</a>
    </div>
    <br/>
    <h1><a class="nav-link center" href="../">Uczelniany Sytem Obiegu Dokumentów</a></h1>
</header>
<nav class="bg-info py-2">
    <div class="container">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-white" href="#przebieg-studiow">Przebieg studiów</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/financialSummary">Finanse</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#podania">Podania</a>
            </li>
        </ul>
    </div>
</nav>
<section id="content" class="hide">
    <section id="userApps" class="py-4">
        <div class="container">
            <h2 class="border-bottom pb-2">Podania</h2>
            <a class="btn btn-primary" href="/application/newApplication" role="button">Nowe podanie</a>
            <a class="btn btn-primary" href="/application/userApplications" role="button">Twoje podania</a>

        </div>
    </section>
</section>
<section id="content-admin" class="hide">
    <section id="allApps" class="py-4">
        <div class="container">
            <h2 class="border-bottom pb-2">Działania administracyjne</h2>
            <a class="btn btn-primary" href="/application/allApplications" role="button">Wszystkie podania</a>

        </div>
    </section>
</section>

<!-- Dodanie Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/authentication.js"></script>
<script type="text/javascript" src="/js/logout.js"></script>
<script type="text/javascript" src="/js/logout.js"></script>
</body>
</html>